<%- include('../partials/barramenu') %>
    <div class="jumbotron">
        <h1>
            Obtener reportes
        </h1>
    </div>
    <div class="container">
        <table id="userList" class="table table-bordered table-hover table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Datos para reportar</th>
                    <th scope="col">PDF</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < rep.length; i++) { %>
                    <tr>
                        <td>
                            <%= rep[i].tipo %>
                        </td>
                        <td>
                            <% let x = '/getreportepdf/' + rep[i].valor %>
                            <form action="<%= x %>" style="width: auto;" method="get">
                                <button class="btn btn-success" type="submit">Obtener PDF </button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>