<%- include('../partials/barramenu') %>
<div class="container">
    <div class="row">
        <div class="jumbotron ">
            <h1>
                Recetar
            </h1>
       </div>           
    </div> 
</div> 
<form action="/GReceta" method="post" class=" mx-auto">
<div class="container card-body">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre de Medicamentos</label>
        <input type="text" class="form-control" name="medicamento" value=<%= datos.medicamento %>>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Cada : </label>
        <input type="text" name="hora" value=<%= datos.tiempo %> required/>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
        <textarea class="form-control" name="detalle" rows="5"><%= datos.detalle %></textarea>
      </div>
</form>
</div>