
       <title>DentalPlus</title>
       <link rel="stylesheet" href="css/reloj.css">
       <%- include('../partials/barramenu') %>
       <%- include('../partials/mensajes') %>
   <body id="body">
       
       <div class="reloj">

           <p class="fecha"></p>
           <p class="tiempo"></p>
           
       </div>
           
       <script src="js/reloj.js"></script>


   </body>

</html>
