<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="witdth=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <form action="">
        <label for="nombre_paciente">
            <span>Paciente:</span>
            <input type="text" id="nombre_paciente" placeholder="Nombre" required/>
        </label>
        <label for="sexo">
            <span>Sexo:</span>
            <select name="sexo" id="">
                <option value="">Femenino </option>
                <option value="">Masculino </option>
            </select>
        </label>
        <label for="telefono">
            <span>Telefono:</span>
            <input type="text" id="telefono" placeholder="Escribe tu numero" required/>    
        </label>
        <label for="fecha">
            <span>Fecha:</span>
            <input type="date" id="fecha" />
        </label>
        <label for="edad">
            <span>Edad:</span>
            <input type="text" id="edad" placeholder="Escribe tu edad" required/>    
        </label>
        <label for="pais">
            <span>Pais:</span>
            <input type="text" id="pais" placeholder="De que pais eres" required/>    
        </label>
        <label for="afiliado">
            <span>Afiliado:</span>
            <select name="afiliado" id="">
                <option value="">SI </option>
                <option value="">NO </option>
            </select>
        </label>
        <label for="Cual">
            <span>¿Cuál?</span>
            <input type="text" id="Cual" placeholder="En donde estas afiliado" required/>    
        </label>
        <main>
            <title>Cuestionario Pre Clinico</title>
        </main>

        <input type="submit" />
</body>
</html>