<%- include('../partials/barramenu') %>
<div class="container">
    <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" id="list-tab" data-toggle="tab" href="/Gpaciente" role="tab" aria-controls="list" aria-selected="false">Lista</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="form-tab" data-toggle="tab" href="/Rpaciente" role="tab" aria-controls="form" aria-selected="true">Registrar</a>				   	
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">       
                <div class="card">
                    <div class="card-header">
                        <h4>Formulario</h4>
                    </div>
                    <div class="card-body">
                        <form class="formulario" action="/Rpaciente/Registrar" method="post">
                            <input class="form-control" type="text" placeholder="Usuario" name="user" id="usuario" required>
                            <input class="form-control" type="text" placeholder="Nombre Completo" name="nombre" id="nombre" required>
                            <input class="form-control" type="number" placeholder="Edad" name="edad" id="edad" required>
                            <input class="form-control" type="text" placeholder="Sexo" name="sexo" id="sexo" required>
                            <input class="form-control" type="text" placeholder="Fecha de Nacimiento" name="fechaNac" id="fechaNac" required>
                            <input class="form-control" type="email" placeholder="Correo Electrónico" name="correo" id="correo" required>
                            <select id='sel-ocupacion' class="form-select" aria-label="ocupacion" name="ocupacion" required>
                                <% for (let i=0; i < ocupacion.length; i++) { %>
                                    <option value=<%= ocupacion[i].id%> > <%= ocupacion[i].nombre%> </option>
                                <% } %>
                                </select>
                            <input class="form-control" type="password" placeholder="Contraseña" name="contra" id="contra" required>
                            <input class="form-control" type="number" placeholder="Teléfono" name="telefono" id="telefono" required>
                            <br>
                            <div class="col-lg-12 text-center">
                                <input type="submit" class="btn btn-primary" value="Registrar">
                                <input type="reset" class="btn btn-secondary" 
                                value="Limpiar">
                                <a href="/gpaciente">
                                    <input type="button" class="btn btn-secondary" value="Volver">                                 
                                </a>
                            </div>
                            <%- include('../partials/mensajes') %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
