<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DentalPlus</title>
    <%- include('partials/head') %>
  </head>
  <%- include('partials/navigation') %>
<div class="p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>BIENVENIDO </h3>
                    <!-- <h3>{{user.nombre}}</h3> -->
                    <!-- {{#if VerP }} -->
                    <a href="/Perfil/Reservar" class="btn btn-primary m-4">
                        Realiza Tu Reserva   
                    </a>
                    <!-- {{/if}} -->
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/mensajes') %>