.block-element{
    background-color: #254C73;
    margin:5px;
    padding: 5px;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
}
textarea{
    min-height: 50px;
    max-height: 50px;
    max-width: 50%;
}
